document {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

#elm {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.top {
	font-family: monospace;
	color: white;
	background-color: steelblue;
}

#topBar {
	height: 5em;
	width: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
}

#topHint {
	margin: auto;
	text-align: center;
	padding: 0.25em;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 1;
	font-size: 2em;
}

#topHint:hover {
	color: hotpink;
}

#codeWrapper {
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
}

#pyErr {
  font-family: monospace;
  font-size: 16px;
  color: red;
  z-index: 1;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
}

canvas {
	/*width: 50%;
	height: 100%;*/
	position: absolute;
	right: 0px;
	top: 0px;
}
